*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/server/db.sqlite3
/server/*/migrations/
/server/*/__pycache__/
/server/profile_pics/
/server/*/__init__.py